<!DOCTYPE html>
<html>
    <head>

         <meta charset="UTF-8">
  <meta name="description" content="Best coding institute in India">
  <meta name="keywords" content="Best coding institute in india">
  <meta name="author" content="best coding institute in india">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./img/weather (1).png">
        <link rel="stylesheet" href="css/styles.css">
  
         <title>Index</title>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>to get wheather</p>
             <form>
                 <input placeholder="location" >
                 <button>Search</button>

             </form>
             <p id="message-1"></p>
             <p id="message-2"></p>
        </div>
            {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>
